# Documentación
/docs/ @alddrinW @Ivanxx16

# Web
/src/web/ @alddrinW @benitocr7 @AndersonMCV @Ivanxx16

# Movil
/src/movil/ @alddrinW @benitocr7 @AndersonMCV @Ivanxx16

# Backend
/src/backend/ @alddrinW @Ivanxx16